body {
	font-family: 'Lato', sans-serif !important;
	padding: 20px;
}
td {
	padding: 8px;
}
h4, p {
	display: inline;
}

.multiple {
	width: 220px;
	height: 33.33px;
	text-align: left;
	vertical-align: middle;
	padding-left: 6px;
	border-radius: 5px;
	font-size: 14px;

}

.barra-importo {
	text-align: right;
}
select:focus {
    outline:none;
}
